# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production
dist/
client/dist/

# Environment
.env
.env.local
client/.env
server/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
